
/**
 * Flip-B form styles
 */

 flb-form {
  position: absolute;
  overflow: hidden;
  contain: layout size style;
  display: flex;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  flex-direction: column;
  justify-content: space-between;
  z-index: 0;
}
